doctype html
html
  head
    title Dance'O'Academia
    block scripts
    block style  
      
  body
    nav#navbar.top
        ul
            div#logo
                img(src="/static/img/logo.png")
                |  D'O'A
            li #[a(href="/") Home]
            li #[a(href="/about") About Us]
            li #[a(href="/facility") Facilities]
            li #[a(href="/reach") Reach Us...]
            li #[a(href="/contact") Join Us]
            li #[a(href="/contact") Join Us]
    
    
    block content
    footer#footer
        | Copyright © 2019 Dance'O'Academia.com | All rights reserved
    