@import url('https://fonts.googleapis.com/css?family=Nova+Cut|Permanent+Marker&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
   text-align: center;
   margin:12px 0;
}
.container{
    justify-content: center;
    min-height: 80vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* margin: 40px 0; */
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), center / cover no-repeat url("/static/dance.jpg");
    height:100%;
    color:white;
}
.container h1{
    font-family: 'Nova Cut', cursive;
    font-size: 34px;
    font-weight: bold;
    
    

}
input[type=text] {
    color: white;
  }
  input[type=phone] {
    color: white;
  }
  input[type=email] {
    color: white;
  }
.myForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    color: white;
}
::placeholder {
    color:black;
    opacity: 1;
  }
  
.myInput{
    font-size: 16px;
    width:40%;
    padding:9px;
    margin:8px;
    border:2px solid darkslategray;
    border-radius: 12px;
    outline:none;
    background-color:rgba(255,255,255,0.3);
    

}
.btn{
    padding:8px 16px;
    font-size: 18px;
    border:2px solid  gray;
    border-radius: 14px;
    color:wheat;
    background-color:black;
    cursor: pointer;
    opacity:0.9;
    transition: all 0.8s ease-in-out;
    outline:none;
    margin:15px;
    text-decoration: none;
}
a:link{
    text-decoration: none;
    
    
}
a:visited{
    text-decoration: none;
    color:lightsteelblue;
}
a:hover {
    text-decoration: none;
    color: black;
  }

.btn:hover{
    color:black;
    background-color: rgba(184, 174, 174, 0.705);
    border:2px solid black;
    font-weight: bold;
    transform:scale(1.2);
}